<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @med_history.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @med_history.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @med_history.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @med_history.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @med_history.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @med_history.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @med_history.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @med_history.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @med_history.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @med_history.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @med_history.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @med_history.q12 %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @med_history.patient %>
</p>

<%= link_to 'Edit', edit_med_history_path(@med_history) %> |
<%= link_to 'Back', med_histories_path %>
