<%= form_with(model: patient, local: true, :html => {:class => 'row card'}) do |form| %>
<% if patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patient.errors.count, "error") %>
      prohibited this patient from being saved:</h2>

    <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="card-content">

  <div class="input-field col s6">
    <%= form.label :f_name, 'First Name' %>
    <%= form.text_field :f_name %>
  </div>

  <div class="input-field col s6">
    <%= form.label :l_name, 'Last Name' %>
    <%= form.text_field :l_name %>
  </div>

  <div class="input-field col s6">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="input-field col s6">
    <%= form.label :birth_date, 'Birth Date' %>
    <!-- <%= form.number_field :birth_date %> -->
    <!-- <%= form.date_select :birth_date, class:'datepicker'%> -->
    <%= form.date_select :birth_date, as: :date, class: "datepickertwo" %>

  </div>

  <div class="input-field col s6">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="input-field col s6">
    <%= form.label :apt_suite %>
    <%= form.text_field :apt_suite %>
  </div>

  <div class="input-field col s6">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="input-field col s6">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="input-field col s6">
    <%= form.label :zip %>
    <%= form.number_field :zip %>
  </div>

  <div class="input-field col s6">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="input-field col s6">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit "Add Patient",class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

</div>