<div class="container">
  <h1>Editing Patient</h1>

  <%= render 'form', patient: @patient %>
</div>
<div class="container">
  <%= render partial: 'histories' %>

</div>

<div class="container">
  <%= render partial: 'notes' %>
</div>

<%# <%= link_to 'Show', @patient %>
  <%# <%= link_to 'Back', patients_path %>