<div class="container">

  <h1>Patient Record</h1>

  <%= render 'form', patient: @patient %>
</div>
<br>

<div class="container">
  <h1>Medical History</h1>
  <%= render partial: 'histories' %>
</div>
<br>
<div class="container">
  <%= render partial: 'notes' %>
</div>

<%# <%= link_to 'Show', @patient %>
  <%# <%= link_to 'Back', patients_path %>