<%= form_with(model: doctor, local: true, :html => {:class => 'row card'}) do |form| %>
<% if doctor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(doctor.errors.count, "error") %>
      prohibited this doctor from being saved:</h2>

    <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="card-content">
  <div class="input-field">
    <%= form.label :f_name %>
    <%= form.text_field :f_name %>
  </div>

  <div class="input-field">
    <%= form.label :l_name %>
    <%= form.text_field :l_name %>
  </div>

  <div class="input-field">
    <%= form.label :specialty %>
    <%= form.text_field :specialty %>
  </div>

  <div class="actions">
    <%= form.submit ' Add Doctor ', class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
</div>