<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @doctor.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @doctor.l_name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @doctor.specialty %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
