<!DOCTYPE html>
<html>
  <head>
    <title>Molardental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css' %>

  </head>
  <%=render 'layouts/top_navbar'%>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= yield %>
    <%= javascript_include_tag 'application' %>

  </body>
</html>